# .streamlit/secrets.toml

[connections.snowflake]
account = "tb57425.uk-south.azure"
user = "ColleenSpence"
password = "Cheese64"
role = "ACCOUNTADMIN"
warehouse = "COMPUTE_WH"
database = "PETS"
schema = "PUBLIC"
client_session_keep_alive = true
